.row .col-5 {
    display: block;
    text-align: center;
    
    border-left: .5px solid #b32400;
}
.col-7{
      display: block;
    text-align: center;
/*     border-left: .5px solid #b32400*/
    }

.container-fluid {
 display: block;
 background-color: #eceeef; 
}


body{
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
    
}
.evra{
    position: relative;
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    box-shadow: 10px 30px 20px rgba(0,0,0,0.4);
    border-style: none;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #d9dce2;
    
}

.img-fluid{
    display: block;
    margin: auto;
    margin-top: 40px;
}
.img-fluid1{
    display: block;
    margin: auto;
    margin-top: 70px;
}



 .SeaFreight{
 background-image:url(/images/sea.jpg);
 display: block;
 margin: auto;
 margin-top: 10px;
 padding: 3rem;
margin-bottom: 10px;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
    
}

.SeaFreight::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:
    rgba(204,245,255,.5);
    
}

.AirFreight{
    display: block;
    background-image:url(/images/ciel2.jpeg);
    margin: auto;
    padding: 3rem;
    background-repeat: no-repeat;
 background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 10px
    
}

.AirFreight::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:
    rgba(204,245,255,.5);
}

.BrokerService{
    background-image: url(/images/sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem;
   
}

.BrokerService::before{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color:  rgba(204,245,255,.5)
}

.header{
    display: block;
    margin: auto;
    padding-bottom: 2rem
    
}
.header2{
    display: block;
    margin: auto;
    text-align: center;
    background-color: darkre;
    border-radius: 18% 18% 0 0%;
    margin: -20p 0 0 0;
   
    padding: 0

    
}
.header3{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px
}

.titre{
    font-size: 25px;
}

.box{
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background: rgba(255,255,255,.7);
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 20px;
    border-radius: 10%;
    border-style: none;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.4);
    
    
}





.SectionDark{
    background-color: #cccccc;
    padding: 1rem;
}




.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover{
    background-color: #cc2900;
    position: sticky;
}


.navbar-light .navbar-brand, .navbar-light .navbar-toggler{
    color:white;

}
.bg-faded{
    background-color: #eceeef;
    
   
}

.ul {
    margin: 1rem;
    display: block;
    
}

.dropdown-menu{
    background-color: #ffcccc ;
}


.col-md-6  {
    margin-bottom: 2rem
}


.coolStuffWrapper{
    margin-top: 15px;
}

button.coolStuffbtn{
    background-color: #cc2900;
    color: white;
    display: block;
    margin: auto;
}

.imagemodal{
    background-color:white;
    border-radius: 20%;
    box-shadow: 1px 1px 9px;
    margin-top: 25px
}
label{
    margin-top: .5rem
}
h5.modal-title{
    margin: auto
}



.homeappliance{
    background-image: linear-gradient(red,green);
}

.imgCenter2{
    display: block;
    margin: auto;
    margin-top: 2rem;
    background-image: linear-gradient(#cccccc,#737373)
}


.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 315px;
    
}
.quotation{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px
}
.size{
    width: 25%;
    background-color: #eceeef;
    margin: 13px 0 13px 0;

    border-radius: 20%;
    box-shadow: 1px 1px 9px;
    
}
.jef{
    background-color: black;
    margin-top: 30px;
    padding: 10px;
    
}

.fa {
    margin: 10px;
}

.fa-facebook-square{
    color: #3b5998;
    margin: 10px;
}

.fa-google-plus-square{
    color: #c32f10;
    margin: 10px;
}

.fa-instagram{
    color: #ffffff;
    margin: 10px;
}








.socialwrapper{
    margin: auto;
}

.display-3{
    font-size: 3.5rem
}




   
    

@media screen and (max-width: 1200px){
    .container {
    
    line-height: 1rem;
 background-color: #eceeef;
display: block
    
}
    /* .col-7{
        
    }
    .row .col-5{
         
    }
    img.evra{
        
    } */
    .col-2.part2{
        display: none;
    } 
    
    
}

@media screen and (max-width:992px){
   
    
    .col-2.part2{
        display: none;
    }
    .container{
        display: block;
/*        width: 947px;*/
    }
    .row .col-5{
        display: none;
    }
    .size{
        width: 17%
    }
}

@media screen and (max-width:768px){
    
     .col-7{
        display: none;
    }
     .row .col-5{
        display: none;
    }
    .col-2.part2{
        display: none;
    } 
    .size{
        width: 17%
    }
    
}

@media screen and (max-width:576px){
     .col-7{
        display: none;
    }
     .row .col-5{
        display: none;
    }
    .quotation{
        display: block;
        margin: auto;
        font-size: 14px;
        width: 70%  
    }
    img.evra{
        width: 80%;
    }
    
    .size{
        width: 19%
    }
    
   
}

